.top{
    background-color: 
}
.second{
    font-weight: bold;
    font-size: 150%;
    left: 8%;  
    position: absolute;
    margin: 2%;
}
#position {
      left: 3%;  
      position:relative;
      margin:20%;
      LINE-HEIGHT:250%;
      font-size: 150%;
}
h2{
    color:#737373;
    
}
ul li{
    display: inline-block;
}
.last{
    background: #d6d6c2;
    padding: 5%;
}
table{
    width:50%;
    margin: 20%;
}
table,th,td{
    border: 1px solid #000;
    border-collapse: collapse;
}
caption{
    font-weight: bold;
    line-height: 5%;
    padding: 7%;
}